html {
    scroll-behavior: smooth;
}

.Navbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    /* or any other background color you want */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* or any other z-index value you want */
}

body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.Navbtn {
    left: 40px;
    visibility: hidden;
    position: absolute;
    color: rgb(28, 149, 219);
    z-index: 90;
}

.Navbar {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: space-around;
    transition: 0.4s ease;
}

nav {
    transition: 0.5s ease-in-out;
}

.nav.active {
    color: white;
    background-color: black;
}

.Navbar h2 {
    font-size: 30px;
    color: rgb(28, 149, 219);
}

.Navbar ul {
    display: flex;
    gap: 30px;
}

.Navbar ul li {
    list-style: none;

}

.Navbar ul li a {
    text-decoration: none;
    color: rgb(28, 149, 219);
    font-size: large;
    padding: 10px;
    border-radius: 3px;
}

.Navbar ul li a:hover {
    color: white;
    background-color: black;

}

@media screen and (max-width : 900px) {
    nav ul {
        flex-direction: column;
        position: absolute;
        background-color: black;
        top: -20px;
        height: 100vh;
        width: 40%;
        left: 0;
        align-items: center;
    }

    nav ul:first-child {
        padding-top: 80px;
    }

    .Navbar ul li a {
        color: white;
    }

    nav.active {
        display: block;
    }

    nav {
        display: none;
        transition: 0.4s;

    }

    .Navbar h2 {
        font-size: 18px;
    }

    .Navbtn {
        visibility: visible;
        color: rgb(28, 149, 219);
    }
}

@media screen and (max-width : 450px) {
    .Navbar h2 {
        font-size: 16px;
    }

    nav ul {
        flex-direction: column;
        position: absolute;
        background-color: black;
        top: -20px;
        height: 100vh;
        width: 50%;
        left: 0;
        align-items: center;
    }

    nav ul:first-child {
        padding-top: 80px;
    }

    .Navbar ul li a {
        color: white;
    }

    .Navbtn {
        visibility: visible;
        color: whitesmoke;
    }

    nav.active {
        display: block;
    }

    nav {
        display: none;
        transition: 0.4s;
    }
    .Navbtn {
        visibility: visible;
        color: rgb(28, 149, 219);
    }
}
